@tailwind base;
@tailwind components;
@tailwind utilities;

.home-content p {
	margin-top: 1.5em;
	line-height: 1.75em;
}

.home-content a {
	--tw-ring-color: hsl(var(--nextra-primary-hue) 100% 50%/0.3);
	--tw-text-opacity: 1;
	text-underline-position: under;
	text-decoration-line: underline;
	text-decoration-thickness: from-font;
	color: hsl(var(--nextra-primary-hue) 100% 50% / var(--tw-text-opacity));
}

.content-container {
	max-width: 90rem;
	padding-left: max(env(safe-area-inset-left), 1.5rem);
	padding-right: max(env(safe-area-inset-right), 1.5rem);
	margin: 0 auto;
}
